.App-header {
  background-color: #607d8b;
  position: fixed;
  z-index: 9;
  width: 100vw !important;
  top: 0;
}

.card {
  background-color: #f5f5f5 !important;
  height: 40vh;
  position: relative;
}

.Card_Img_Box {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.BackIcon {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  background-color: rgb(240, 240, 240);
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.TwoDIcon {
  position: absolute;
  z-index: 99;
  top: 20px;
  left: 80px;
  background-color: rgb(240, 240, 240);
  padding: 2px;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.App {
  margin-top: 80px !important;
}
